@import "./src/styles/scss.variables/colors";

.message {
    width: 50%;
    margin: 10px 0 0;
    padding: 12px;
    background-color: $blue_light;
    border: 2px solid $blue_dark;
    border-radius: 5px;

    &:first-child {
        margin: 0;
    }
}

.userMessage {
    align-self: flex-end;
    background-color: $green_light;
    border: 2px solid $green_dark;
    border-radius: 5px;
}
