$white: #ffffff;
$black: #121212;

$blue: #2196f3;
$blue_light: #81d4fa;
$blue_dark: #1565c0;

$gray: #9e9e9e;
$gray_light: #eeeeee;
$gray_dark: #616161;

$green: #00e676;
$green_light: #69f0ae;
$green_dark: #2e7d32;

$orange: #ff9800;
